
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400&family=Noto+Serif+JP:wght@300&display=swap');



body{
  background-color: #fbe2ef;
  font-family: 'Comic Neue', cursive;
  margin: 0;
  padding: 0;
  cursor: url(help)auto;
}
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav {
  overflow: hidden;
  background-color: #dd428d;
}
.home-img{
  padding-top: 5px;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 17px;
  padding-top: 20px;
}

.topnav a:hover {
  background-color: #ffb7da;
  height: 40px;
  color: black;
  border-radius: 20px;
}

.topnav-right  {
  float: right;
}
.text-home{
    text-align: right;
}

/**tetst **/
.cont-sosmed{
  text-decoration: none;
  display: inline-block;
  height: 100px;
  margin: 5% auto;
  max-width: 1000px;
  padding: 10px;
  position: relative;
  width: 100%;

}
.cont-sosmed ul{
  font-family: "trebuchet ms",sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  list-style: none !important;
  margin: 100px 500px;
  
}
.cont-sosmed ul li{
  display: inline-block;
  float: left;
  margin: 0;
  padding: 1000px;
  justify-content: space-between;
  transition: all 1s ease 0s;
  width: 100%;

}
.cont-sosmed ul li:hover {
  width: 90%;
}

.cont-sosmed ul li {
  display: inline-block;
  float: left;
  margin: 0;
  padding: 10px;
  justify-content: space-between;
  transition: all 1s ease 0s;
  width: 80%;
  padding-top: 10px;
  
}
li.sosial-insta {
  background: #f8b7e0 !important;
  right: 0;
  top: 0;
  z-index: 10;
  border-radius: 20px;
  padding: 0 20px;
}
li.sosial-gmail {
  background: #d38baf !important;
  right: 0;
  top: 0;
  z-index: 10;
  border-radius: 20px;
}
.cont-sosmed ul li a {
  color: #fff !important;
  text-decoration: none;
  padding: 0 20px;
}
li .sosial-insta i a{
  padding: 100px;
}
@media (max-width: 640px) {
  .grid-flex {
    height: 40em;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column; 
   }
  .col {
    order:vertical;
  }
  .col-left {
    -webkit-box-ordinal-group:0;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
  }
  .col-text div p {
    padding: 1em;
    
  }
  .Aligner-item {
    width: 90%;
  }
}
.text-name{
  padding-left: 30px;
  
}
.home-img {
 margin-top:-10px;

}

/**sakura-animasi**/
/*-----------------------------------
sakura_block
-----------------------------------*/
#sakura_block{
  width: 100%;
}
#sakura_block .sakura_parts_box{
  position: relative;
}
#sakura_block .sakura_parts_box img{
  position: absolute;
}
#sakura_block .sakura_parts_box img:nth-child(2n+1){
  width: 13px;/*花びらのサイズ*/
}
#sakura_block .sakura_parts_box img:nth-child(2n){
  width: 15px;/*花びらのサイズ*/
}

/*-----------------------------------
桜の花びらパーツの表示位置
-----------------------------------*/
img.parts_01{top: 0; left: 5%;}
img.parts_02{top: 0; left: 12%;}
img.parts_03{top: 0; left: 15%;}
img.parts_04{top: 0; left: 22%;}
img.parts_05{top: 0; left: 25%;}
img.parts_06{top: 0; left: 28%;}
img.parts_07{top: 0; left: 35%;}
img.parts_08{top: 0; left: 40%;}
img.parts_09{top: 0; left: 43%;}
img.parts_10{top: 0; left: 50%;}
img.parts_11{top: 0; left: 55%;}
img.parts_12{top: 0; left: 60%;}
img.parts_13{top: 0; left: 63%;}
img.parts_14{top: 0; left: 70%;}
img.parts_15{top: 0; left: 75%;}
img.parts_16{top: 0; left: 81%;}
img.parts_17{top: 0; left: 85%;}
img.parts_18{top: 0; left: 90%;}
img.parts_19{top: 0; left: 93%;}


/*-----------------------------------
舞い散るアニメーション
回転しつつ上から下へ
-----------------------------------*/
@keyframes sakura {
    0% {
      opacity: 0;
    }
    20% {
      transform:translate(3px,30px) rotate(20deg);
      opacity: 1;
    }
    30% {
      transform:translate(0,50px) rotate(50deg);
    }
    50% {
      transform:translate(-20px,100px)  rotate(150deg);
    }
    70% {
      transform:translate(-40px,150px) rotate(-50deg);
      opacity: .8;
    }
    90% {
      transform:translate(-60px,200px) rotate(-180deg);
    }
    100% {
      transform:translate(-70px,230px);
      opacity: 0;
    }
}

.sakura_parts_box img {
    animation: sakura linear 6s infinite;
    /*アニメーションが始まるまで画像を見えなくしておく*/
    opacity: 0;
}

/*-----------------------------------
アニメーションが始まるまでの時間
-----------------------------------*/
img.parts_01,img.parts_04,img.parts_07,img.parts_10,img.parts_08,img.parts_11,img.parts_13,img.parts_16,img.parts_19{
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
img.parts_02,img.parts_05{
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}
img.parts_03,img.parts_06,img.parts_09,img.parts_12{
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}
img.parts_08,img.parts_11,img.parts_13,img.parts_16,img.parts_19{
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
img.parts_14,img.parts_17{
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
img.parts_15,img.parts_18{
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}
/***test35**/



.naglowek {
  margin: 200px auto;
  max-width:300px;
 
}

#navigation a{
  font-size: 1.2em;
  width: 300px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  border-radius: 3px;
}

#navigation a{
  text-decoration: none;
  display: flex;
  gap: 5px;
  padding-bottom: 5px;
  padding-top: 10px;
}

#navigation a:hover {
  color: rgb(255, 255, 255);
  background: #f77bac;
  border: 1px solid rgb(173, 73, 73);
  border-bottom: none;
}
.gmail{
  background-color: #f4d1e5;
  border-radius: 10px;
}
.ig{
  background-color:#f4d1e5 ;
  border-radius: 10px;
  border-color: #000000;
  margin-top: 5px;
}
.gmail a{
  padding-top: 100px;
}
.sakura-background{
  float: right;
  position: relative;
  text-align: center ;
}
.sakura-background img{
 height: 50%;
}
