@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400&family=Noto+Serif+JP:wght@300&display=swap');



body{
  background-color: #fbe2ef;
  font-family: 'Comic Neue', cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav {
  overflow: hidden;
  background-color: #dd428d;
}
.home-img{
  padding-top: 5px;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 17px;
  padding-top: 20px;
}

.topnav a:hover {
  background-color: #ffb7da;
  height: 40px;
  color: black;
  border-radius: 20px;
}

.topnav-right  {
  float: right;
}
.text-home{
    text-align: right;
}


