@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400&family=Noto+Serif+JP:wght@300&display=swap');



body{
  background-color: #fbe2ef;
  font-family: 'Comic Neue', cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav {
  overflow: hidden;
  background-color: #dd428d;
}
.home-img{
  padding-top: 5px;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 17px;
  padding-top: 20px;
}

.topnav a:hover {
  background-color: #ffb7da;
  height: 40px;
  color: black;
  border-radius: 20px;
}

.topnav-right  {
  float: right;
}
.text-home{
    text-align: right;
}
.img-my-foto{
  float: left;
  margin-top: 10px;
  margin-left: 100px;
}
.figure{
  margin-top: 100px;
}
/**tetst **/
.col-text {
  height:20em;
}
.grid-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  flex-direction: row; 
  -webkit-flex-direction: row;
  -webkit-flex-wrap: wrap;
  -webkit-justify-content: space-around;
}
.col {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 20px;
  padding-top: 200px;
  float: left;
  justify-content: space-between;
}
.col-left {
  -webkit-box-ordinal-group:-1;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
}
.col-text{
  align-items: center;
  padding: 10px;
  bottom: 10px;
  left: 10%;
}
.aligner-item {
  width: 500px;
  font-size: 25px;
  font-family:  'Comic Neue', cursive;
  padding-bottom: 0;
}

@media (max-width: 640px) {
  .grid-flex {
    height: 40em;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column; 
   }
  .col {
    order:vertical;
  }
  .col-text div p {
    padding: 1em;
    
  }

}
.text-name{
  padding-left: 30px;
  
}
.home-img {
 margin-top:-10px;

}
.text-container{
  background-color: #f78bb6;
  margin-top: 100px;
  margin-right: 50px;
  position:inherit;
  margin-left: 40px;
  width: 600px;
  border: 5px dotted rgb(255, 255, 255);
  border-radius: 2px;
  padding-left: 10px;
  padding-top: 10px;

}
.about-img{
    float: right;
    padding-left: 200px;
}
.about-img img{
    padding-top: 40px;
    padding-left: 70px;
    display: flex;
    position: absolute;
    justify-content: center;
}
.col-img{
  background-image: url(./img-about/sakura-about.png);
  background-repeat: no-repeat;
  height: 30px;
  width: 200px;
  background-size: contain;
  text-align: center;
  margin-top: 100px;
}

/**test4**/
.text2 {
  padding: 5px;
}

.img1 {
  text-align: center;
  padding: 70px;
  margin-left: 250px;
}

.img2 {
  float: left;
}

.clearfix::after {
  content: "";
  clear: both;

}
.experience-img img{
  padding-top: 40px;
  padding-left: 70px;
  display: flex;
  position: absolute;
  justify-content: center;
}
.col-image1{
  background-image: url(./img-about/sakura-about.png);
  background-repeat: no-repeat;
  height: 50px;
  width: 20px;
  background-size: contain;
  margin-top: 100px;
  padding: 106px;
  float: right;
  display: initial;
  position: fixed;
  margin-left: 400px;

}

/**sakura-animasi**/
/*-----------------------------------
sakura_block
-----------------------------------*/
#sakura_block{
  width: 90%;
}
#sakura_block .sakura_parts_box{
  position: relative;
}
#sakura_block .sakura_parts_box img{
  position: absolute;
}
#sakura_block .sakura_parts_box img:nth-child(2n+1){
  width: 13px;/*花びらのサイズ*/
}
#sakura_block .sakura_parts_box img:nth-child(2n){
  width: 15px;/*花びらのサイズ*/
}

/*-----------------------------------
桜の花びらパーツの表示位置
-----------------------------------*/
img.parts_01{top: 0; left: 5%;}
img.parts_02{top: 0; left: 12%;}
img.parts_03{top: 0; left: 15%;}
img.parts_04{top: 0; left: 22%;}
img.parts_05{top: 0; left: 25%;}
img.parts_06{top: 0; left: 28%;}
img.parts_07{top: 0; left: 35%;}
img.parts_08{top: 0; left: 40%;}
img.parts_09{top: 0; left: 43%;}
img.parts_10{top: 0; left: 50%;}
img.parts_11{top: 0; left: 55%;}
img.parts_12{top: 0; left: 60%;}
img.parts_13{top: 0; left: 63%;}
img.parts_14{top: 0; left: 70%;}
img.parts_15{top: 0; left: 75%;}
img.parts_16{top: 0; left: 81%;}
img.parts_17{top: 0; left: 85%;}
img.parts_18{top: 0; left: 90%;}
img.parts_19{top: 0; left: 93%;}


/*-----------------------------------
舞い散るアニメーション
回転しつつ上から下へ
-----------------------------------*/
@keyframes sakura {
    0% {
      opacity: 0;
    }
    20% {
      transform:translate(3px,30px) rotate(20deg);
      opacity: 1;
    }
    30% {
      transform:translate(0,50px) rotate(50deg);
    }
    50% {
      transform:translate(-20px,100px)  rotate(150deg);
    }
    70% {
      transform:translate(-40px,150px) rotate(-50deg);
      opacity: .8;
    }
    90% {
      transform:translate(-60px,200px) rotate(-180deg);
    }
    100% {
      transform:translate(-70px,230px);
      opacity: 0;
    }
}

.sakura_parts_box img {
    animation: sakura linear 6s infinite;
    /*アニメーションが始まるまで画像を見えなくしておく*/
    opacity: 0;
}

/*-----------------------------------
アニメーションが始まるまでの時間
-----------------------------------*/
img.parts_01,img.parts_04,img.parts_07,img.parts_10,img.parts_08,img.parts_11,img.parts_13,img.parts_16,img.parts_19{
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
img.parts_02,img.parts_05{
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}
img.parts_03,img.parts_06,img.parts_09,img.parts_12{
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}
img.parts_08,img.parts_11,img.parts_13,img.parts_16,img.parts_19{
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
img.parts_14,img.parts_17{
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
img.parts_15,img.parts_18{
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}

.sakura-background{
  float: right;
  position: relative;
  text-align: center ;
}
.sakura-background img{
 height: 50%;
}
.sakura-img{
  float: left;
  position: inherit;
}
.right{float:left;display:block;width:200px}
.left .img {
 float:left;
 position: relative;
}
img {
  float: right;
  position: relative;

}
.gambar{
	width: 300px;
	float: left;
	margin-right: 10px;
}
.gambar1{
	width: 200px;
	float: right;
	margin-right: 220px;
  margin-top: 100px;
}
.kotak1 .gambar1 img{
  height: 100px;
  margin-top: 100px;
}
.kotak1 p{
  max-width: 400px;
  padding-left: 50px;
}
.container2{
  margin-top: 100px;
  margin-right: 50px;
  position:inherit;
  margin-left: 50px;
  width: 600px;
  border-radius: 2px;
  padding-left: 10px;
  padding-top: 10px;
  margin-bottom: 20px;
}
.container3 .img{
  float: left;

}
.text-experience p{
  width: 90%;
  font-family:  'Comic Neue', cursive;
  font-size: 25px;
  color: #000000;
}
.footer-copy {
  background-color: #ffd5ea;
  text-align: center;
  height: 50px;
  width: auto;
  font-family: sans-serif;
  padding-top: 15px;
  margin-top: 10px;
}
.footer-copy img{
 width: 25px;
}
/**test6**/

@media (max-width: 640px) {
}
.blob-1{
  position: absolute;
  height: 40px;
  top: 20%;
  left: 15%;
  bottom: 40%;
}
.blob-2{
  position: absolute;
  height: 30px;
  left: 50%;
  bottom: 5%;
  top: 51%;
}
.blob-1 img{
  animation: blob 13s 1s infinite normal forwards;
  height: 200px;
  width: 200px;
}
.blob-2 img{
  animation: blob 13s 1s infinite normal forwards;
  height: 200px;

}
.animation-container{
  margin-top: -100px;
}

@keyframes blob {
  
  0%, 100%{
      transform: translateY(0);
  }
  10%, 30%, 50%, 70%{
      transform: translateY(-8px);
  }
  20%, 40%, 60%{
      transform: translateY(8px);
  }
  80%{
      transform: translateY(6px);
  }
  90%{
      transform: translateY(-6px);
  }
}
#slider{
  overflow: hidden;
  width: 100vw;
}
#slider figure{
  position: relative;
  width: 600%;
  margin: 0;
  left: 0;
  animation: 20s slider infinite;
}
#slider figure img{
  width: 16.6666%;
  float: left;
}
@keyframes slider{
    0%{
        left: 0;
    }
    15%{
        left: 0;
    }
    20%{
        left: -100%;
    }
    35%{
        left: -100%;
    }
    40%{
        left: -200%;
    }
    55%{
        left: -200%;
    }
    60%{
        left: -300%;
    }
    75%{
        left: -300%;
    }
    80%{
        left: -400%;
    }
    95%{
        left: -400%;
    }
    100%{
        left: -500%;
    }
}
.animation-container{
  margin:100px;
}
figure {
  display: table;
  margin-top: 100px;
  max-width: 500px;
  left: 100px;
  position: relative;
}
figcaption {
  display: table-caption;
  caption-side: bottom;
}
#title-block, #more-info, footer {
  text-align: center;
}
#tribute-info {
  display: flex;
  flex-flow: row wrap;
}
a {
  color: #fff;
}
a:hover {
  color: #34d399;
}
#img-div {
  margin: auto;
}
#image {
  width: 100%;
  display: block;
}
#space-time-img, #mc2-building {
  width: 100%;
  margin: auto;
}
#einstein-image {
  border-radius: 50%;
  margin: auto;
  align-self: center;
}
@media (min-width: 280px) {
  h1 {
      font-size: xx-large;
  }
  h2 {
      font-size: x-large;
  }
  h3 {
      font-size: large;
  }
  #main p {
      font-size: smaller;
  }
  #tribute-link {
      font-size: smaller;
  }
  footer {
      font-size: smaller;
  }
  .content, h2, #quote {
      flex: 1 100%;
  }
  #einstein-image {
      max-width: 219px;
  }
  #quote {
      text-align: center;
      align-self: center;
  }
}
@media (min-width: 360px) {
  #image, #space-time-img, #mc2-building {
      max-width: fit-content;
  }
}
@media (min-width: 720px) {
  #main {
      margin: 0 5% 5% 5%;
  }
  h1 {
      font-size: xxx-large;
  }
  h2 {
      font-size: xx-large;
  }
  h3 {
      font-size: x-large;
  }
  #main p {
      font-size: larger;
  }
  #tribute-link {
      font-size: larger;
  }
  footer {
      font-size: medium;
  }
  .content, #quote {
      flex: 1 50%;
  }
  #img-div {
      margin-left: 3%;
  }
  #image {
      max-width: 180px;
  }
  #space-time-img {
      margin-right: 3%;
      max-width: 250px;
  }
  #mc2-building {
      margin-left: 3%;
      max-width: 290px;
      align-self: center;
  }
  #einstein-image {
      max-width: 169px;
  }
  #quote {
      text-align: start;
  }
  #tribute-info > :nth-child(1) { order: 1; }
  #tribute-info > :nth-child(2) { order: 3; }
  #tribute-info > :nth-child(3) { order: 2; }
  #tribute-info > :nth-child(4) { order: 4; }
  #tribute-info > :nth-child(5) { order: 5; }
  #tribute-info > :nth-child(6) { order: 6; }
  #tribute-info > :nth-child(7) { order: 8; }
  #tribute-info > :nth-child(8) { order: 7; }
  #tribute-info > :nth-child(9) { order: 9; }
  #tribute-info > :nth-child(10) { order: 10; }
}
@media (min-width: 1080px) {
  #main {
      margin: 0 10% 5% 10%;
  }
  #image, #space-time-img, #mc2-building {
      max-width: fit-content;
  }
  #einstein-image {
      max-width: 219px;
  }
  #tribute-info > :nth-child(8) { 
      flex-basis: calc(100% - 300px - 3%); 
  }
}
.about-img{
  width: 500px;

}
.container-about-me{
  max-width: 1000px;
  max-height: 1200px;
}